extends layout

block body
  nav
  div.row
    div.welcome
      Hi #{user.name}, welcome to counterFitter

  div.row
    div.eight-columns.tweets
      each val in tweets
        div.tweet.twelve-columns
          h4.tweet-text= val.user_name
          p.tweet-text= val.tweet
          p.tweet-data= val.createdAt

  div.avatar.two-columns
    img(src="#{user.imageUrl}")

  div.user-info
    p User details:
    p.user-name #{user.name}
